@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
}
/* cache bust ma  8 jun. 2026 22:47:32 CEST */
/* cache bust geo ma  8 jun. 2026 23:13:20 CEST */
/* cache bust geo di  9 jun. 2026 08:42:54 CEST */
